@import "tailwindcss";
@theme {
  --color-pure-white: #ffffff;
  --color-light-gray: #c9c9c9;
  --color-dark-gray: #0f0f0f;
  --color-verydark-gray: #252525;
  --color-black-gray: #0d003b;
  --color-gray-black: #222222;
}
body {
  font-family: Inter, sans-serif;
}
